In [4]:
import pandas as pd

In [7]:
pd.read_csv(r'C:\Users\shubh\OneDrive\Desktop\my data.csv')

     name  sex  roll no
0  shubham   m        2
1      sam   m        3
2     sima   f        4

In [10]:
pd.read_excel(r'C:\Users\shubh\OneDrive\Desktop\my scond dat.xlsx')

     name   age sex pass/fail
0  shubham   22   m         p
1   manlai   19   f         p
2     sima   21   f         f
3     riya   26   f         f